

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Subtração</title>
</head>
<body>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
<div class="card-header">Subtração</div>
<div class="card-body">
  <input class="form-control" type="text" placeholder="Insira um número">
  <input class="form-control" type="text" placeholder="Insira um número">
  <button type="button" class="btn btn-success">=</button>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</body>
</html>
