{% load static %}
<!DOCTYPE html>
<head>
    <title>Multi-Home
    </title>
    <link rel="stylesheet" href="{% static 'css/multi.css' %}">
</head>

<body>
    <div class="interface">
        <div class="menu">
            <div class="menu-title"></div>
            <div class="menu-options">
                <a href="#">Home</a>
                <a href="#">soma</a>
                <a href="#">subtração</a>
                <a href="#">divisão</a>
                <a href="#">potenciação</a>
                <a href="{% url 'multi_multiplication' %}">multiplicação</a>
            </div>
        </div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <!--<div class="fields">
                        <input type="text" id="number_x" placeholder="Insira o 1º número">
                        <h1>X</h1>
                        <input type="text" id="number_y" placeholder="Insira o 2º número">
                </div>-->    
                <input type="submit" id="enviar" value="Calcular">
            </form>
        </div>
    </div>
</body>    
</html>